In [1]:
import pandas as pd
import os

In [2]:
if os.path.basename(os.getcwd()) == "notebooks":
    os.chdir("..")

In [3]:
print(os.getcwd())

/Users/alextoohey/Desktop/Datathon2025/7thDatathon

In [4]:

college_2021 = pd.read_excel(os.path.join("data", "College Results View 2021 Data Dump for Export.xlsx"))
affordability_gap = pd.read_excel(os.path.join("data", "Affordability Gap Data AY2022-23 2.17.25.xlsx"))

In [6]:
college_2021.head(20)

,UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION,Number of Bachelor Degrees Grand Total,Number of Bachelor Degrees Total Men,Number of Bachelor Degrees Total Women,Number of Bachelor Degrees White Total,Number of Bachelor Degrees White Men,Number of Bachelor Degrees White Women,Number of Bachelor Degrees American Indian or Alaska Native Men,Number of Bachelor Degrees American Indian or Alaska Native Total,Number of Bachelor Degrees American Indian or Alaska Native Women,...,Median Earnings of Students Working and Not Enrolled 10 Years After Entry,Native American Non-Tribal Institution (NANTI),Predominantly Black Institution (PBI),Percent of Full-Time Faculty,Percent of Part-Time Undergraduates,Tribal College or University (TCU),Public Institution GASB Endowment Assets,Private not-for-profit or Public Institution FASB Endowment Assets,Number of Undergraduates Age 25 and Older,Percent of Undergraduates Age 25 and Older
0,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36041.0,0.0,1.0,0.5596,0.5087,0.0,NaN,NaN,344.0,0.070477
1,101435,244.0,103.0,141.0,176.0,70.0,106.0,0.0,2.0,2.0,...,47921.5,0.0,0.0,0.7595,0.1407,0.0,NaN,51910937.0,37.0,0.014700
2,101994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,0.5313,0.5377,0.0,NaN,NaN,139.0,0.123996
3,102553,1044.0,427.0,617.0,581.0,240.0,341.0,7.0,31.0,24.0,...,47921.5,0.0,0.0,0.5181,0.4772,0.0,60842848.0,NaN,4536.0,0.147388
4,102632,144.0,46.0,98.0,92.0,29.0,63.0,2.0,10.0,8.0,...,27937.0,1.0,0.0,0.5583,0.5447,0.0,6773153.0,NaN,911.0,0.172832
5,102669,52.0,13.0,39.0,25.0,6.0,19.0,3.0,13.0,10.0,...,47921.5,1.0,0.0,0.4851,0.1980,0.0,NaN,78389954.0,209.0,0.186109
6,104160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,0.4354,0.7199,0.0,3704793.0,NaN,1900.0,0.078418
7,104708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,1.0000,0.6610,0.0,NaN,NaN,4038.0,0.096960
8,105297,39.0,15.0,24.0,0.0,0.0,0.0,14.0,38.0,24.0,...,36041.0,0.0,0.0,0.7079,0.4413,1.0,8401082.0,NaN,727.0,0.184284
9,106263,312.0,54.0,258.0,202.0,31.0,171.0,0.0,1.0,1.0,...,47921.5,0.0,0.0,0.8824,0.2399,0.0,334680000.0,NaN,702.0,0.215867
10,106324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,NaN,0.2895,0.0,NaN,NaN,6.0,0.060606
11,106360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,NaN,0.0000,0.0,NaN,NaN,9.0,0.120000
12,106467,1276.0,548.0,728.0,977.0,402.0,575.0,2.0,5.0,3.0,...,47921.5,0.0,0.0,0.9946,0.1614,0.0,49075714.0,NaN,1251.0,0.046849
13,106883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,0.6400,0.3298,0.0,326042.0,NaN,360.0,0.113636
14,106892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,NaN,0.0000,0.0,NaN,NaN,28.0,0.150538
15,106980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,1.0000,0.3773,0.0,1331755.0,NaN,607.0,0.105786
16,107099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,NaN,0.0000,0.0,NaN,NaN,27.0,0.105882
17,107442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,NaN,0.0000,0.0,NaN,NaN,17.0,0.171717
18,107488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,NaN,0.0161,0.0,NaN,NaN,59.0,0.128821
19,107831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27937.0,0.0,0.0,NaN,0.0000,0.0,NaN,NaN,41.0,0.162698

In [7]:
college_2021.describe()

,UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION,Number of Bachelor Degrees Grand Total,Number of Bachelor Degrees Total Men,Number of Bachelor Degrees Total Women,Number of Bachelor Degrees White Total,Number of Bachelor Degrees White Men,Number of Bachelor Degrees White Women,Number of Bachelor Degrees American Indian or Alaska Native Men,Number of Bachelor Degrees American Indian or Alaska Native Total,Number of Bachelor Degrees American Indian or Alaska Native Women,...,Median Earnings of Students Working and Not Enrolled 10 Years After Entry,Native American Non-Tribal Institution (NANTI),Predominantly Black Institution (PBI),Percent of Full-Time Faculty,Percent of Part-Time Undergraduates,Tribal College or University (TCU),Public Institution GASB Endowment Assets,Private not-for-profit or Public Institution FASB Endowment Assets,Number of Undergraduates Age 25 and Older,Percent of Undergraduates Age 25 and Older
count,6289.000000,2440.000000,2440.000000,2440.000000,2440.000000,2440.000000,2440.000000,2440.00000,2440.000000,2440.000000,...,5831.000000,6125.000000,6125.000000,3546.000000,5819.000000,6125.000000,1.343000e+03,1.348000e+03,5770.000000,5770.000000
mean,285782.541104,856.357377,356.302459,500.054918,464.052869,197.328689,266.724180,1.35082,3.790984,2.440164,...,36342.493483,0.005551,0.011592,0.603704,0.233079,0.005714,1.610977e+08,3.556941e+08,709.754073,0.123179
std,139160.602601,1774.476829,768.642115,1035.296846,995.100089,437.893785,575.460478,5.44011,15.881937,10.694714,...,8922.296690,0.074304,0.107048,0.286779,0.262509,0.075383,1.101138e+09,2.069496e+09,2637.510913,0.082641
min,100654.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,27937.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,169479.000000,51.000000,16.000000,29.000000,15.000000,5.000000,6.000000,0.00000,0.000000,0.000000,...,27937.000000,0.000000,0.000000,0.365400,0.000000,0.000000,3.131490e+06,8.150767e+06,36.000000,0.056318
50%,220765.000000,255.500000,91.000000,157.000000,129.500000,45.000000,77.500000,0.00000,1.000000,0.000000,...,36041.000000,0.000000,0.000000,0.586150,0.126100,0.000000,1.059200e+07,3.608335e+07,129.000000,0.114586
75%,446349.000000,734.500000,290.250000,455.250000,424.000000,169.000000,251.500000,1.00000,3.000000,2.000000,...,47921.500000,0.000000,0.000000,0.882400,0.411200,0.000000,4.350377e+07,1.161700e+08,513.000000,0.181504
max,497347.000000,26612.000000,8604.000000,18249.000000,17958.000000,5613.000000,12345.000000,134.00000,437.000000,303.000000,...,47921.500000,1.000000,1.000000,1.000000,1.000000,1.000000,3.052212e+10,4.189438e+10,95133.000000,0.333333

In [8]:
college_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6289 entries, 0 to 6288
Columns: 192 entries, UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION to Percent of Undergraduates Age 25 and Older
dtypes: float64(179), int64(8), object(5)
memory usage: 9.2+ MB

In [9]:
college_2021.dtypes

UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION                         int64
Number of Bachelor Degrees Grand Total                                float64
Number of Bachelor Degrees Total Men                                  float64
Number of Bachelor Degrees Total Women                                float64
Number of Bachelor Degrees White Total                                float64
                                                                       ...
Tribal College or University (TCU)                                    float64
Public Institution GASB Endowment Assets                              float64
Private not-for-profit or Public Institution FASB Endowment Assets    float64
Number of Undergraduates Age 25 and Older                             float64
Percent of Undergraduates Age 25 and Older                            float64
Length: 192, dtype: object

In [12]:
college_2021["Institutional Category"].value_counts()

Institutional Category
 6    2044
 2    2026
 4    1306
 3     426
 1     297
-2     170
-1      15
 5       5
Name: count, dtype: int64

In [13]:
college_2021["Sector of Institution"].value_counts()

Sector of Institution
2     1655
9     1489
4      911
1      784
6      563
3      355
7      235
5      145
0       71
8       65
99      16
Name: count, dtype: int64

In [15]:
college_2021["Open Admissions Policy"].value_counts()

Open Admissions Policy
 1.0    3699
 2.0    1993
-2.0     487
Name: count, dtype: int64

In [19]:
len(college_2021["UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION"].unique()) == len(college_2021["UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION"])

True

In [20]:
affordability_gap.head(5)

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,...,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,371928,Modern Technology School,Fountain Valley,CA,"Private for-profit, 2-year",6,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,6059,3
1,369668,Central Pennsylvania Institute of Science and ...,Pleasant Gap,PA,"Public, 2-year",4,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,"Not applicable, not in Carnegie universe (not ...",-2,Special Focus Two-Year: Technical Professions,11,42027,1
2,369516,Bryan University,Springfield,MO,"Private for-profit, 4-year or above",3,1.0,NaN,0.0,0.0,...,"Not applicable, not in Carnegie universe (not ...",-2,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,Baccalaureate/Associate's Colleges: Mixed Bacc...,23,29077,3
3,164492,Anna Maria College,Paxton,MA,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Masters Colleges and Universities I,21,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,Master's Colleges & Universities: Medium Programs,19,25027,2
4,164465,Amherst College,Amherst,MA,"Private not-for-profit, 4-year or above",2,1.0,NaN,0.0,0.0,...,Baccalaureate Colleges--Liberal Arts,31,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,Baccalaureate Colleges: Arts & Sciences Focus,21,25015,2

In [23]:
len(affordability_gap["Unit ID"])

21299

In [24]:
len(affordability_gap["Unit ID"].unique())

6256

In [26]:
affordability_gap["Unit ID"].value_counts().head(10)

Unit ID
371928    5
228699    5
179867    5
179715    5
228529    5
180416    5
180373    5
228042    5
180522    5
228501    5
Name: count, dtype: int64

In [38]:
pd.set_option('display.max_columns', None)
affordability_gap[affordability_gap["Unit ID"] == 228529]

,Unit ID,Institution Name,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
2591,228529,Tarleton State University,Stephenville,TX,"Public, 4-year or above",1,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2356.0,24100,31393.0,21313.0,21313.0,3625.0,30000.0,7.25,72.5,15477.0,11852.0,32.7,47408.0,71112.0,1.08,1115.6,13387.2,1202.84,1509.6,1627.65,18115.2,26286.08,31383.81,72.51,86.58,105144.32,125535.24,157716.48,188302.86,19531.8,14434.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,-2,Town: Remote,33,Four or more years,1,"10,000 - 19,999",4,Erath County,76401-0000,Texas,48,32.22,-98.22,South,3.0,West South Central Division,7.0,www.tarleton.edu/admissions/,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Doctoral Universities: High Research Activity_...,16,48143,1
5524,228529,Tarleton State University,Stephenville,TX,"Public, 4-year or above",1,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2356.0,24100,31393.0,21313.0,21313.0,3625.0,48000.0,7.25,72.5,16966.0,13341.0,36.8,53364.0,80046.0,1.08,1115.6,13387.2,1202.84,1509.6,1627.65,18115.2,27775.08,32872.81,76.62,90.68,111100.32,131491.24,166650.48,197236.86,19531.8,14434.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,-2,Town: Remote,33,Four or more years,1,"10,000 - 19,999",4,Erath County,76401-0000,Texas,48,32.22,-98.22,South,3.0,West South Central Division,7.0,www.tarleton.edu/admissions/,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Doctoral Universities: High Research Activity_...,16,48143,1
12604,228529,Tarleton State University,Stephenville,TX,"Public, 4-year or above",1,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2356.0,24100,31393.0,21313.0,21313.0,3625.0,75000.0,7.25,72.5,20599.0,16974.0,46.8,67896.0,101844.0,1.08,1115.6,13387.2,1202.84,1509.6,1627.65,18115.2,31408.08,36505.81,86.64,100.71,125632.32,146023.24,188448.48,219034.86,19531.8,14434.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,-2,Town: Remote,33,Four or more years,1,"10,000 - 19,999",4,Erath County,76401-0000,Texas,48,32.22,-98.22,South,3.0,West South Central Division,7.0,www.tarleton.edu/admissions/,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Doctoral Universities: High Research Activity_...,16,48143,1
15039,228529,Tarleton State University,Stephenville,TX,"Public, 4-year or above",1,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2356.0,24100,31393.0,21313.0,21313.0,3625.0,110000.0,7.25,72.5,22714.0,19089.0,52.7,76356.0,114534.0,1.08,1115.6,13387.2,1202.84,1509.6,1627.65,18115.2,33523.08,38620.81,92.48,106.54,134092.32,154483.24,201138.48,231724.86,19531.8,14434.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,-2,Town: Remote,33,Four or more years,1,"10,000 - 19,999",4,Erath County,76401-0000,Texas,48,32.22,-98.22,South,3.0,West South Central Division,7.0,www.tarleton.edu/admissions/,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Doctoral Universities: High Research Activity_...,16,48143,1
18835,228529,Tarleton State University,Stephenville,TX,"Public, 4-year or above",1,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2356.0,24100,31393.0,21313.0,21313.0,3625.0,150000.0,7.25,72.5,22981.0,19356.0,53.4,77424.0,116136.0,1.08,1115.6,13387.2,1202.84,1509.6,1627.65,18115.2,33790.08,38887.81,93.21,107.28,135160.32,155551.24,202740.48,233326.86,19531.8,14434.08,Doctor's degree - research/scholarship,12,Doctor's degree,9,-2,Town: Remote,33,Four or more years,1,"10,000 - 19,999",4,Erath County,76401-0000,Texas,48,32.22,-98.22,South,3.0,West South Central Division,7.0,www.tarleton.edu/admissions/,A,Masters Colleges and Universities I,21,Master's Colleges & Universities: Larger Programs,18,Master's Colleges & Universities: Larger Programs,18,Doctoral Universities: High Research Activity_...,16,48143,1

In [33]:
# IMPORTANT: The affordability_gap dataset has multiple rows per institution
# Each row represents a different "Student Family Earnings Ceiling" scenario
# This means columns like "Net Price" and "Affordability Gap" vary by earnings ceiling
# 
# When merging, we preserve ALL rows (not dropping duplicates) to maintain
# the granularity of institution-earnings ceiling combinations

merged = pd.merge(
    left=college_2021, 
    right=affordability_gap, 
    left_on="UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION",
    right_on="Unit ID",
    how="inner"  # or "left" depending on analysis needs
)

print(f"College 2021 rows: {len(college_2021)}")
print(f"Affordability Gap rows: {len(affordability_gap)}")
print(f"Merged rows: {len(merged)}")
print(f"\nNote: Merged dataset has more rows because each institution from college_2021")
print(f"is duplicated for each Student Family Earnings Ceiling scenario in affordability_gap")

merged

College 2021 rows: 6289
Affordability Gap rows: 21299
Merged rows: 21001

Note: Merged dataset has more rows because each institution from college_2021
is duplicated for each Student Family Earnings Ceiling scenario in affordability_gap

,UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION,Number of Bachelor Degrees Grand Total,Number of Bachelor Degrees Total Men,Number of Bachelor Degrees Total Women,Number of Bachelor Degrees White Total,Number of Bachelor Degrees White Men,Number of Bachelor Degrees White Women,Number of Bachelor Degrees American Indian or Alaska Native Men,Number of Bachelor Degrees American Indian or Alaska Native Total,Number of Bachelor Degrees American Indian or Alaska Native Women,Number of Bachelor Degrees Asian Men,Number of Bachelor Degrees Asian Total,Number of Bachelor Degrees Asian Women,Number of Bachelor Degrees Black or African American Men,Number of Bachelor Degrees Black or African American Total,Number of Bachelor Degrees Black or African American Women,Number of Bachelor Degrees Latino Men,Number of Bachelor Degrees Latino Total,Number of Bachelor Degrees Latina Women,Number of Bachelor Degrees Native Hawaiian or Other Pacific Islander Men,Number of Bachelor Degrees Native Hawaiian or Other Pacific Islander Total,Number of Bachelor Degrees Native Hawaiian or Other Pacific Islander Women,"Number of Degrees Awarded in Science, Technology, Engineering, and Math",Number of Degrees Awarded in Arts and Humanities,Number of Degrees Awarded in Education,Number of Degrees Awarded in Social Sciences,Number of Degrees Awarded in Health Sciences,Number of Degrees Awarded in Business,Percent of Bachelor Degrees American Indian or Alaska Native Men,Percent of Bachelor Degrees American Indian or Alaska Native Total,Percent of Bachelor Degrees American Indian or Alaska Native Women,Percent of Bachelor Degrees Asian Men,Percent of Bachelor Degrees Asian Total,Percent of Bachelor Degrees Asian Women,Percent of Bachelor Degrees Black or African American Men,Percent of Bachelor Degrees Black or African American Total,Percent of Bachelor Degrees Black or African American Women,Percent of Bachelor Degrees Latino Men,Percent of Bachelor Degrees Latino Total,Percent of Bachelor Degrees Latina Women,Percent of Bachelor Degrees Native Hawaiian or Other Pacific Islander Men,Percent of Bachelor Degrees Native Hawaiian or Other Pacific Islander Total,Percent of Bachelor Degrees Native Hawaiian or Other Pacific Islander Women,Percent of Bachelor Degrees Men,Percent of Bachelor Degrees Women,Percent of Bachelor Degrees White Total,Percent of Bachelor Degrees White Men,Percent of Bachelor Degrees White Women,"Percent of Bachelor Degrees Awarded in Science, Technology, Engineering, and Math",Percent of Bachelor Degrees Awarded in Arts and Humanities,Percent of Bachelor Degrees Awarded in Education,Percent of Bachelor Degrees Awarded in Social Sciences,Percent of Bachelor Degrees Awarded in Health Sciences,Percent of Bachelor Degrees Awarded in Business,Percent of American Indian or Alaska Native Undergraduates,Percent of Two or More Races Undergraduates,Percent of Asian Undergraduates,Percent of Black or African American Undergraduates,Percent of Latino Undergraduates,Percent of Native Hawaiian or Other Pacific Islander Undergraduates,Percent of White Undergraduates,Percent of Women Undergraduates,Percent of Men Undergraduates,Percent of Nonresident Undergraduates,Percent of Undergraduates Race-Ethnicity Unknown,Percent of Undergraduates Age 25 to 64,"Percent of Full-time, First-time Degree-Seeking Undergraduates",Percent of Undergraduates Enrolled Exclusively in Distance Education Courses,"Percent of First-Time, Full-Time International Undergraduates",Total Enrollment,"Number of First-Time, Full-Time Degree Certificate Seeking Students Submitting ACT Scores","Percentage of First-Time, Full-Time Degree Certificate Seeking Students Submitting ACT Scores",ACT English - 25th Percentile Score,ACT English - 75th Percentile Score,ACT Math - 25th Percentile Score,ACT Math - 75th Percentile Score,Number of First-Time Degree Certificate Seeking Students Submitting SAT Scores,Percent of First-Time Degree Certificate Seeking Students Submitting SAT Scores,SAT Evidence Based Reading and Writing - 25th Percentile Score,SAT Evidence Based Reading and Writing - 75th Percentile Score,SAT Math - 25th Percentile Score,SAT Math - 75th Percentile Score,Total Percent of Applicants Admitted,Total Percent of Men Admitted,Total Percent of Women Admitted,Bachelor's Degrees Awarded,Number of Students Receiving a Bachelor's Degree,Endowment Assets GASB per Student,Instructional Expenses GASB per Student,Endowment Assets FASB per Student,Instructional Expenses FASB per FTE,Instructional Expenses Per FTE,Bachelor's Degree Graduation Rate Within 4 Years - Total,Bachelor's Degree Graduation Rate Within 5 Years - Total,Bachelor's Degree Graduation Rate Within 6 Years - American Indian or Alaska Native,"Bachelor's Degree Graduation Rate Within 6 Years - Asian, Native Hawaiian, Pacific Islander",Bachelor's Degree Graduation Rate Within 6 Years - Asian,"Bachelor's Degree Graduation Rate Within 6 Years - Black, Non-Latino",Bachelor's Degree Graduation Rate Within 6 Years - Latino,Bachelor's Degree Graduation Rate Within 6 Years - Men,Bachelor's Degree Graduation Rate Within 6 Years - Native Hawaiian or Other Pacific Islander,Bachelor's Degree Graduation Rate Bachelor Degree Within 6 Years - Total,Bachelor's Degree Graduation Rate Bachelor Degree Within 6 Years - Women,Bachelor's Degree Graduation Rate Within 6 Years - White Non-Latino,Transfer Out Rate,Cost of Attendance for In-State Students Living on Campus,Average Cost of Attendance Out-of-State,Average Cost of Attendance In-District,Average Cost of Attendance In-State,"Percent Full-time, First-time, Pell Grant Recipients Still Enrolled at Same Institution - 8 Years","Percent Full-time, First-time, Pell Grant Recipients Receiving an Award - 6 Years",Number of American Indian or Alaska Native Men,Number of American Indian or Alaska Native Total,Number of American Indian or Alaska Native Women,Number of Asian Men,Number of Asian Total,Number of Asian Women,Number of Black or African American Men,Number of Black or African American Total,Number of Black or African American Women,Number of Latino Men,Number of Latino Total,Number of Latina Women,Number of Native Hawaiian or Other Pacific Islander Men,Number of Native Hawaiian or Other Pacific Islander Total,Number of Native Hawaiian or Other Pacific Islander Women,Number of Men Enrolled,Number of Undergraduates Enrolled,Grand Total of Women Undergraduates Enrolled,Number of White Men Undergraduates Enrolled,Total Number of White Undergraduates Enrolled,Number of White Women Undergraduates Enrolled,Degree Level,Student Status,"First-Time, Full-Time Retention Rate",Student-to-Faculty Ratio,"Reported First-Time, Full-Time Undergraduate Enrollment",Carnegie Classification,City of Institution,Institutional Category,Institution Name_x,Institution Size Category_x,Degree of Urbanization,Sector of Institution,State of Institution,LATITUDE,LONGITUDE,Institution Web Address,Institution Type,Open Admissions Policy,"Out-of-State Average Tuition for First-Time, Full-Time Undergraduates","Average In-State Tuition for First-Time, Full-Time Undergraduates","Average Amount of Loans Awarded to First-Time, Full-Time Undergraduates","Average Amount of Federal Grant Aid Awarded to First-Time, Full-Time Undergraduates","Average Amount of Institutional Grant Aid Awarded to First-Time, Full-Time Undergraduates","Average Amount of Federal, State, Local, or Institutional Grant Aid Awarded","Number of First-Time, Full-Time Undergraduates Awarded Federal, State, Local or Institutional Grant Aid","Percent of First-Time, Full-Time Undergraduates Awarded Federal, State, Local or Institutional Grant Aid","Total Amount of Federal, State, Local or Institutional Grant Aid Awarded to First-Time, Full-Time Undergraduates","Number of First-Time, Full-Time Undergraduates Awarded Pell Grants","Percent of First-Time, Full-Time Undergraduates Awarded Pell Grants","Average Net Price After Grants, 2018-19","Average Net Price After Grants, 2019-20","Average Net Price After Grants, 2020-21","Average Net Price for Low-Income Students, 2018-19","Average Net Price for Low-Income Students, 2019-20","Average Net Price for Low-Income Students, 2020-21","Average Net Price After Grants- Students Awarded a Grant or Scholarship, 2020-21","Number Awarded a Grant or Scholarship - Low-Income Students In-State, 2020-21","Number Awarded a Grant or Scholarship - Low-Income Students, 2020-21","Average Net Price After Grants - Low-Income Students Awarded Financial Aid, 2020-21",Asian American or Native American Pacific Islander-Serving Institution (AANAPISI),"Alaska-Native, Native Hawaiian-Serving Institution (ANNHSI)",Cohort Default Rate,Median Debt for Dependent Students,Median Debt of Completers,Historically Black College or University (HBCU),Hispanic-serving Institution (HSI),Median Debt for Independent Students,Instructional Expenditures Per Student,Median Earnings of Dependent Students Working and Not Enrolled 10 Years After Entry,Median Earnings of Independent Students Working and Not Enrolled 10 Years After Entry,Median Earnings of Students Working and Not Enrolled 10 Years After Entry,Native American Non-Tribal Institution (NANTI),Predominantly Black Institution (PBI),Percent of Full-Time Faculty,Percent of Part-Time Undergraduates,Tribal College or University (TCU),Public Institution GASB Endowment Assets,Private not-for-profit or Public Institution FASB Endowment Assets,Number of Undergraduates Age 25 and Older,Percent of Undergraduates Age 25 and Older,Unit ID,Institution Name_y,City,State Abbreviation,Sector Name,Sector,MSI Status,MSI Type,HBCU,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,Average Work Study Award,"Cost of Attendance: In State, On Campus",Cost of Attendance: Out of State,Cost of Attendance: In District,Cost of Attendance: In State,Annual Income Estimate,Student Family Earnings Ceiling,State Minimum Wage,Income Earned from Working 10 Hours a Week at State's Minimum Wage,Net Price,Affordability Gap (net price minus income earned working 10 hrs at min wage),Weekly Hours to Close Gap,100% TTD Affordability Gap,150% TTD Affordability Gap,CPI Index,Monthly Center-Based Child Care Cost,Annual Center-Based Child Care Cost,Adjusted Monthly Center-Based Child Care Cost,Monthly Home-Based Child Care Cost,Adjusted Monthly Home-Based Child Care Cost,Annual Home-Based Child Care Cost,Student Parent Affordability Gap: Center-Based Care,Student Parent Affordability Gap: Home-Based Care,Weekly Hours to Close Gap: Center-Based Care,Weekly Hours to Close Gap: Home-Based Care,100% TTD Student Parent Affordability Gap: Center-Based Care,100% TTD Student Parent Affordability Gap: Home-Based Care,150% TTD Student Parent Affordability Gap: Center-Based Care,150% TTD Student Parent Affordability Gap: Home-Based Care,Adjusted Annual Home-Based Child Care Cost,Adjusted Annual Center-Based Child Care Cost,Highest Degree Offered Name,Highest Degree Offered,Highest Level Offered Name,Highest Level Offered,Combined Statistical Area,Degree of Localization Name,Degree of Localization,Institution Level Name,Institution Level,Institution Size Category Name,Institution Size Category_y,County Name,Zip Code,State,State Code (FIPS),Latitude,Longitude,Region,Region #,Sub Region,Sub Region #,Admissions Website,Institution Status,2000 Carnegie Classification Name,2000 Carnegie Classification,2015 Carnegie Classification Name,2015 Carnegie Classification,2018 Carnegie Classification Name,2018 Carnegie Classification,2021 Carnegie Classification Name,2021 Carnegie Classification,County Code,Control of Institution
0,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0,74.0,1.0,0.0,21.0,59.0,41.0,NaN,NaN,21.0,13.0,38.0,0.0,1627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4735.0,NaN,NaN,4735.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,15450.0,11760.0,11760.0,2.0,34.0,0.0,0.0,0.0,3.0,3.0,0.0,160.0,366.0,206.0,6.0,9.0,3.0,0.0,0.0,0.0,237.0,480.0,243.0,55.0,85.0,30.0,1.0,22.0,62.0,14.0,1108.0,40,Selma,4,George C Wallace State Community College-Selma,2,32,4,AL,32,-87,https://www.wccs.edu/,Public Two-Year,1.0,7380.0,3690.0,NaN,7615.0,3501.0,8498.0,176.0,98.0,1495607.0,144.0,80.0,3759.0,5192.0,2247.0,3890.0,3733.0,1733.0,NaN,106.0,NaN,1733.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,4725.0,29770.0,25099.0,36041.0,0.0,1.0,0.5596,0.5087,0.0,NaN,NaN,344.0,0.070477,101301,George C Wallace State Community College-Selma,Selma,AL,"Public, 2-year",4,0.0,PBI,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1936.0,.,17593.0,15053.0,15053.0,3625.0,30000.0,7.25,72.5,497.0,-3128.0,-8.6,-6256.0,-9384.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,10110.57,9634.44,27.89,26.58,20221.14,19268.88,40442.28,38537.76,12762.48,13238.52,Associate's degree,40,Associate's degree,3,388,Town: Distant,32,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Dallas County,36702-2808,Alabama,1,32.45,-87.01,South,3.0,East South Central Division,6.0,https://www.wccs.edu/admissions/student-admiss...,A,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1
1,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0,74.0,1.0,0.0,21.0,59.0,41.0,NaN,NaN,21.0,13.0,38.0,0.0,1627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4735.0,NaN,NaN,4735.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,15450.0,11760.0,11760.0,2.0,34.0,0.0,0.0,0.0,3.0,3.0,0.0,160.0,366.0,206.0,6.0,9.0,3.0,0.0,0.0,0.0,237.0,480.0,243.0,55.0,85.0,30.0,1.0,22.0,62.0,14.0,1108.0,40,Selma,4,George C Wallace State Community College-Selma,2,32,4,AL,32,-87,https://www.wccs.edu/,Public Two-Year,1.0,7380.0,3690.0,NaN,7615.0,3501.0,8498.0,176.0,98.0,1495607.0,144.0,80.0,3759.0,5192.0,2247.0,3890.0,3733.0,1733.0,NaN,106.0,NaN,1733.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,4725.0,29770.0,25099.0,36041.0,0.0,1.0,0.5596,0.5087,0.0,NaN,NaN,344.0,0.070477,101301,George C Wallace State Community College-Selma,Selma,AL,"Public, 2-year",4,0.0,PBI,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1936.0,.,17593.0,15053.0,15053.0,3625.0,48000.0,7.25,72.5,1645.0,-1980.0,-5.5,-3960.0,-5940.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,11258.57,10782.44,31.06,29.74,22517.14,21564.88,45034.28,43129.76,12762.48,13238.52,Associate's degree,40,Associate's degree,3,388,Town: Distant,32,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Dallas County,36702-2808,Alabama,1,32.45,-87.01,South,3.0,East South Central Division,6.0,https://www.wccs.edu/admissions/student-admiss...,A,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1
2,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0,74.0,1.0,0.0,21.0,59.0,41.0,NaN,NaN,21.0,13.0,38.0,0.0,1627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4735.0,NaN,NaN,4735.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,15450.0,11760.0,11760.0,2.0,34.0,0.0,0.0,0.0,3.0,3.0,0.0,160.0,366.0,206.0,6.0,9.0,3.0,0.0,0.0,0.0,237.0,480.0,243.0,55.0,85.0,30.0,1.0,22.0,62.0,14.0,1108.0,40,Selma,4,George C Wallace State Community College-Selma,2,32,4,AL,32,-87,https://www.wccs.edu/,Public Two-Year,1.0,7380.0,3690.0,NaN,7615.0,3501.0,8498.0,176.0,98.0,1495607.0,144.0,80.0,3759.0,5192.0,2247.0,3890.0,3733.0,1733.0,NaN,106.0,NaN,1733.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,4725.0,29770.0,25099.0,36041.0,0.0,1.0,0.5596,0.5087,0.0,NaN,NaN,344.0,0.070477,101301,George C Wallace State Community College-Selma,Selma,AL,"Public, 2-year",4,0.0,PBI,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1936.0,.,17593.0,15053.0,15053.0,3625.0,75000.0,7.25,72.5,3753.0,128.0,0.4,256.0,384.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,13366.57,12890.44,36.87,35.56,26733.14,25780.88,53466.28,51561.76,12762.48,13238.52,Associate's degree,40,Associate's degree,3,388,Town: Distant,32,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Dallas County,36702-2808,Alabama,1,32.45,-87.01,South,3.0,East South Central Division,6.0,https://www.wccs.edu/admissions/student-admiss...,A,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1
3,101301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0,74.0,1.0,0.0,21.0,59.0,41.0,NaN,NaN,21.0,13.0,38.0,0.0,1627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4735.0,NaN,NaN,4735.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,15450.0,11760.0,11760.0,2.0,34.0,0.0,0.0,0.0,3.0,3.0,0.0,160.0,366.0,206.0,6.0,9.0,3.0,0.0,0.0,0.0,237.0,480.0,243.0,55.0,85.0,30.0,1.0,22.0,62.0,14.0,1108.0,40,Selma,4,George C Wallace State Community College-Selma,2,32,4,AL,32,-87,https://www.wccs.edu/,Public Two-Year,1.0,7380.0,3690.0,NaN,7615.0,3501.0,8498.0,176.0,98.0,1495607.0,144.0,80.0,3759.0,5192.0,2247.0,3890.0,3733.0,1733.0,NaN,106.0,NaN,1733.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,4725.0,29770.0,25099.0,36041.0,0.0,1.0,0.5596,0.5087,0.0,NaN,NaN,344.0,0.070477,101301,George C Wallace State Community College-Selma,Selma,AL,"Public, 2-year",4,0.0,PBI,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1936.0,.,17593.0,15053.0,15053.0,3625.0,110000.0,7.25,72.5,8060.0,4435.0,12.2,8870.0,13305.0,1.08,1023.2,12278.4,1103.21,986.4,1063.54,11836.8,17673.57,17197.44,48.75,47.44,35347.14,34394.88,70694.28,68789.76,12762.48,13238.52,Associate's degree,40,Associate's degree,3,388,Town: Distant,32,At least 2 but less than 4 years,2,"1,000 - 4,999",2,Dallas County,36702-2808,Alabama,1,32.45,-87.01,South,3.0,East South Central Division,6.0,https://www.wccs.edu/admissions/student-admiss...,A,Associates Colleges,40,Associate's Colleges: High Career & Technical-...,9,Associate's Colleges: Mixed Transfer/Career & ...,5,Associate's Colleges: Mixed Transfer/Career & ...,5,1047,1

In [34]:
# Example: View data for a single institution across all earnings ceiling scenarios
example_institution = merged["UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION"].iloc[0]
print(f"Institution ID: {example_institution}")
print(f"Institution Name: {merged[merged['UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION'] == example_institution]['Institution Name'].iloc[0]}")
print("\nData across different Student Family Earnings Ceiling scenarios:")
merged[merged["UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION"] == example_institution][[
    "UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION",
    "Institution Name",
    "Student Family Earnings Ceiling",
    "Net Price",
    "Affordability Gap (net price minus income earned working 10 hrs at min wage)",
    "Cost of Attendance: In State, On Campus"
]]

Institution ID: 101301

KeyError: 'Institution Name'

In [35]:
# EXAMPLE: How to get one row per institution by averaging across earnings ceilings
# This is useful when you want institution-level statistics

# Identify columns that vary by earnings ceiling (need aggregation)
earnings_dependent_cols = [
    "Net Price",
    "Affordability Gap (net price minus income earned working 10 hrs at min wage)",
    "Weekly Hours to Close Gap"
]

# Identify columns that are constant per institution (can take first value)
institution_constant_cols = [
    "Institution Name",
    "City", 
    "State Abbreviation",
    "Sector",
    "Control of Institution",
    "Cost of Attendance: In State, On Campus"
    # Add more as needed
]

# Create aggregation dictionary
agg_dict = {col: "mean" for col in earnings_dependent_cols}
agg_dict.update({col: "first" for col in institution_constant_cols})

# Aggregate to get one row per institution
merged_institution_level = merged.groupby("UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION").agg(agg_dict).reset_index()

print(f"Original merged dataset: {len(merged)} rows")
print(f"Institution-level aggregated dataset: {len(merged_institution_level)} rows")
print(f"Number of unique institutions: {merged['UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION'].nunique()}")

merged_institution_level.head()

KeyError: "Column(s) ['Institution Name'] do not exist"

In [ ]:
"""
WORKING WITH THE GRANULAR DATA STRUCTURE

Since each institution has multiple rows (one per Student Family Earnings Ceiling),
you have several options for analysis:

1. KEEP ALL ROWS: Analyze by earnings ceiling scenario
   - Use the full merged dataset as-is
   - Group by both institution AND earnings ceiling when aggregating
   
2. FILTER TO SPECIFIC EARNINGS CEILING: Focus on one income bracket
   - Example: merged[merged["Student Family Earnings Ceiling"] == 30000.0]
   - Valid values: 30000.0, 48000.0, 75000.0, 110000.0, 150000.0
   
3. AGGREGATE PER INSTITUTION: Get one row per institution
   - Example: Average across all earnings ceilings
   - merged.groupby("UNIQUE_IDENTIFICATION_NUMBER_OF_THE_INSTITUTION").agg({
         "Net Price": "mean",
         "Affordability Gap (net price minus income earned working 10 hrs at min wage)": "mean"
     })
"""

# Show the earnings ceiling categories available
print("Available Student Family Earnings Ceiling categories:")
print(merged["Student Family Earnings Ceiling"].value_counts().sort_index())

In [37]:
# Examine the Student Family Earnings Ceiling values to understand granularity
print("Unique Student Family Earnings Ceiling values:")
print(affordability_gap["Student Family Earnings Ceiling"].unique())
print(f"\nNumber of rows per institution: {affordability_gap['Unit ID'].value_counts().mode()[0]}")
print(f"\nTotal institutions: {affordability_gap['Unit ID'].nunique()}")
print(f"Total rows: {len(affordability_gap)}")

# Show example of one institution with all its earnings ceiling scenarios
example_id = affordability_gap["Unit ID"].value_counts().index[0]
print(f"\n\nExample: Institution {example_id} has the following earnings ceiling scenarios:")
print(affordability_gap[affordability_gap["Unit ID"] == example_id][["Unit ID", "Institution Name", "Student Family Earnings Ceiling", "Net Price", "Affordability Gap (net price minus income earned working 10 hrs at min wage)"]])

Unique Student Family Earnings Ceiling values:
[ 30000.  48000.  75000. 110000. 150000.     nan]

Number of rows per institution: 5

Total institutions: 6256
Total rows: 21299


Example: Institution 371928 has the following earnings ceiling scenarios:
       Unit ID          Institution Name  Student Family Earnings Ceiling  \
0       371928  Modern Technology School                          30000.0
9001    371928  Modern Technology School                          48000.0
12781   371928  Modern Technology School                          75000.0
14720   371928  Modern Technology School                         110000.0
19086   371928  Modern Technology School                         150000.0

       Net Price  \
0        22711.0
9001     23139.0
12781    23216.0
14720    23531.0
19086    22744.0

       Affordability Gap (net price minus income earned working 10 hrs at min wage)
0                                                15711.0
9001                                             16139.0
12781                                            16216.0
14720                                            16531.0
19086                                            15744.0